<div class="subform">
  <h2 class="pageheading">Message...</h2>
  <div class="m-x-auto container-fluid">
    <div class="row">
      <% count = 1 %>
      <% @messages.each do |message| %>
        <% if message.body %>
          <div class="col-sm-9 messagebox">
              <% if current_user == message.user %>
                <div class="card card-block currentuser">
                    <h5 class="card-title currentusermessagetitle"><%= message.user.username %></h5>
                    <p class="card-text currentusermessagebody"><%= message.body %></p>
                </div>
              
              <% else %>
              
                <div class="card card-block otheruser">
                   <h5 class="card-title otherusermessagetitle"><%= message.user.username %></h5>
                    <p class="card-text otherusermessagebody"><%= message.body %></p>
                </div>
              
              <% end %>
            </div>
          </div>
        <% end %>
        <% count +=1 %>
      <% end %>

  <%= render "message" %>

  </div>
</div>