<p>
  <% @thing.thing_images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @thing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @thing.owner.username %>
</p>

<p>
  <strong>Category:</strong>
  <% @thing.tag_ids.each do |tag| %>
    <%= @tags.find(tag).name + ", " %>
  <% end %>
</p>

<p>
  <%= link_to "Message Owner", conversation_messages_path(@thing.user_id, current_user.id) %>
</p>

<%= link_to '< Back', things_path %>

<% if current_user.id == @thing.user_id %>
  <%= link_to 'Edit', edit_thing_path(@thing) %>
<% end %>

