<p>
  <strong>Thing image:</strong>
  <% @thing.thing_images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @thing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @owners.username %>
</p>

<p>
  <strong>Loanee:</strong>
  <%= @thing.loanee_id %>
</p>

<p>
  <strong>Category:</strong>
  <% @thing.tag_ids.each do |tag| %>
    <%= @tags.find(tag).name + ", " %>
  <% end %>
</p>

<% if current_user.id.to_s == @thing.owner_id %>
  
  <%= form_for @thing, url: thing_images_path(@thing), method: :post do |f| %>
    <div class="field">
      <%= f.file_field :thing_images, multiple: true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <div>
  <% @thing.thing_images.each_with_index do |image, index| %>
    <div>
      <%= image_tag(image.url) %>
      <%= link_to "Delete this image", thing_image_path(@thing, index), :method => :delete, data: { confirm: "Are you sure?" } %>
      <% end %> 
  </div>

  <%= link_to 'Edit', edit_thing_path(@thing) %>

<% else %>
<% end %>

<%= link_to 'Back', things_path %>