<div class="container">
<div class="subform">
  <%= render "things/search" %>
  <h2 class="pageheading"><%= @tag.name %></h2>
  <div class="container">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <% @tag.things.each do |thing| %>
          <%= link_to thing_path(thing.id) do  %>
            <div class="card">
              <%= image_tag thing.thing_images.first.sized, {:class => "card-img-top"} %>
              <div class="card-block">
                <h4 class="card-title"><%= thing.title %></h4>
                <p class="card-text"><%= thing.description %></p>
                <div class="short-card-text"></div>
                <p class="smallusername"><small class="text-muted"><%= @users.find(thing.owner.id).username %></small></p>
              </div>
            </div>
          <% end %>   
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>



