<div class="subform">
  <h2 class="pageheading">Log in</h2>
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class=row>
      <div class="form-group">
        <div class="field">
          <%= f.label :email, :class => "col-sm-2 col-form-label" %><br>
          <div class="col-sm-5">
            <%= f.email_field :email, { :class => "form-control",autofocus: true } %>
          </div><br>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="field">
          <%= f.label :password, :class => "col-sm-2 col-form-label" %><br>
          <div class="col-sm-5">
            <%= f.password_field :password, autocomplete: "off", :class => "form-control", autofocus: true %>
          </div>
        </div>
      </div>


      <div class="actions">
        <%= f.submit "Log in", { :class => "btn btn-primary", :id => "signinloginbtn" } %>
      </div>
      
    <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
