<div class='container'>
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="/">Aught</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="nav-item"><%= link_to "Find Things", things_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to "New Share", new_thing_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to "Your Profile: #{image_tag(current_user.profile_image.profilesmallthumb)}".html_safe, edit_user_registration_path, { :class => "nav-link", :id => "headeryourprofilelink" } %></li>

        <%  if unread_messages.present? %>
          <li class="nav-item"><%= link_to "Your Messages: (#{unread_messages})", conversations_path, :class => "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Your Messages", conversations_path, :class => "nav-link" %></li>
        <% end %>

        <li class="nav-item"><%= link_to "Your Shares", things_yours_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, { method: :delete, :class => "nav-link"} %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Sign In", new_user_session_path, :class => "nav-link" %></li>
        <li class="nav-item"><%= link_to "Register", new_user_registration_path, :class => "nav-link" %></li>
      <% end %>
    </ul>
  </nav>
</div>